<left-nav>
    <ul id="left-nav">
        <li class="left-nav-list row-2"><a href="./lucro.html">LucRo<br>糖尿病足预防</a></li>
        <li class="left-nav-list row-2">YSK<br>中老年保护</li>
        <li class="left-nav-list row-2">MyShoes<br>3d定制鞋</li>
        <li class="left-nav-list"><a href="./zuyaliban.html" style="color: #ffffff">压力检测设备</a></li>
        <!--<li class="left-nav-list">合作学会</li>-->
        <!--<li class="left-nav-list">活动中心</li>-->
        <li class="left-nav-list"><a href="connect.html">关于我们</a></li>
        <img src="./imgs/record.png" style="width: 100%">
    </ul>
    <style>
        #left-nav {
            background-color: #fff;
            position: absolute;
            top: 70px;
            left: -30%;
            width: 30%;
            bottom: 0;
        }

        #left-nav img {
            position: absolute;
            bottom: 0;
        }

        @media screen and (max-width: 370px) {
            #left-nav .left-nav-list {
                font-size: 12px;
                width: 80px;
            }
        }

        .left-nav-list {
            margin: 10px auto;
            list-style: none;
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 5px;
            background-color: #01BCF1;
            color: #ffffff;
            font-size: 14px;
        }

        .row-2 {
            line-height: 18px;
        }

        .left-nav-list a {
            color: #fff
        }
    </style>
</left-nav>
