<nav-bar>
    <div id="nav-bar">
        <span class="fa fa-reorder nav-icon menu-icon"></span>
        <a href="./index.html">
            <span class="fa fa-home nav-icon"></span>
        </a>
        <span class="fa fa-shopping-cart nav-icon search-icon"></span>
    </div>
    <style>
        :scope #nav-bar {
            width: 100%;
            overflow: hidden;
            z-index: 501;
			height:50px;
        }

        :scope #nav-bar .nav-icon {
            font-size: 30px;
            margin: 20px;
            color :#5A5A5A
        }

        :scope #nav-bar .menu-icon {
            float: left;
        }

        :scope #nav-bar .search-icon {
            float: right;
        }

    </style>
</nav-bar>
